flows.json
[{"id":"16ac1b2692b246d2","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"0cee2ecd56e9a198","type":"ibmiot in","z":"16ac1b2692b246d2","authentication":"apiKey","apiKey":"b48a3cfca4136822","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"Device","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":160,"wires":[["cf2ce1983fac01b9","2c23756a4ce00788","dd5f3fea4468b6d8","769def20b0d8b3bf"]]},{"id":"cf2ce1983fac01b9","type":"function","z":"16ac1b2692b246d2","name":"BPM","func":"global.set('BPM', msg.payload.BPM)\nmsg.payload = msg.payload.BPM\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":60,"wires":[["73186921a47c9c70"]]},{"id":"2c23756a4ce00788","type":"function","z":"16ac1b2692b246d2","name":"SP02","func":"global.set('sp02', msg.payload.sp02)\nmsg.payload = msg.payload.sp02\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":140,"wires":[["48895a5ef5f5b315"]]},{"id":"48895a5ef5f5b315","type":"ui_chart","z":"16ac1b2692b246d2","name":"","group":"39acccae42942880","order":1,"width":13,"height":8,"label":"SP02","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#a0df2a","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":700,"y":140,"wires":[[]]},{"id":"dd5f3fea4468b6d8","type":"function","z":"16ac1b2692b246d2","name":"Stress","func":"global.set('stress', msg.payload.stress)\nmsg.payload = msg.payload.stress\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":220,"wires":[["5c7ac34072949786"]]},{"id":"73186921a47c9c70","type":"ui_chart","z":"16ac1b2692b246d2","name":"","group":"39acccae42942880","order":2,"width":13,"height":8,"label":"Heartbeat per minute","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":740,"y":60,"wires":[[]]},{"id":"5c7ac34072949786","type":"ui_gauge","z":"16ac1b2692b246d2","name":"","group":"39acccae42942880","order":3,"width":13,"height":10,"gtype":"gage","title":"Stress Level","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":730,"y":220,"wires":[]},{"id":"769def20b0d8b3bf","type":"function","z":"16ac1b2692b246d2","name":"","func":"global.set('stress', msg.payload.map)\nmsg.payload = msg.payload.map\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":320,"wires":[["301342d56a5d1521"]]},{"id":"301342d56a5d1521","type":"ui_worldmap","z":"16ac1b2692b246d2","group":"39acccae42942880","order":4,"width":13,"height":10,"name":"","lat":"28","lon":"77","zoom":"4","layer":"OSMC","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":720,"y":320,"wires":[]},{"id":"079c5c63349bec64","type":"ui_spacer","z":"16ac1b2692b246d2","name":"spacer","group":"045cde20d08e2e8f","order":2,"width":6,"height":1},{"id":"f866b54cc46eb394","type":"ui_spacer","z":"16ac1b2692b246d2","name":"spacer","group":"045cde20d08e2e8f","order":3,"width":6,"height":1},{"id":"100d952c200cdd4d","type":"ui_spacer","z":"16ac1b2692b246d2","name":"spacer","group":"045cde20d08e2e8f","order":4,"width":6,"height":1},{"id":"06d116ee499311f3","type":"ui_spacer","z":"16ac1b2692b246d2","name":"spacer","group":"045cde20d08e2e8f","order":5,"width":6,"height":1},{"id":"403e1be943e155e6","type":"ui_spacer","z":"16ac1b2692b246d2","name":"spacer","group":"045cde20d08e2e8f","order":6,"width":6,"height":1},{"id":"b48a3cfca4136822","type":"ibmiot","name":"IBM IOT API","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"39acccae42942880","type":"ui_group","name":"Soldier Health Monitoring System","tab":"f1d6eaa08e9ec3ab","order":1,"disp":true,"width":26,"collapse":false,"className":""},{"id":"f1d6eaa08e9ec3ab","type":"ui_tab","name":"VIT-B Dashboard","icon":"dashboard","disabled":false,"hidden":false}]